{% extends 'base.html.twig' %}

{% block title %}Etudiant{% endblock %}

{% block body %}
    <h1>Etudiant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etudiant.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ etudiant.utilisateur.nom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ etudiant.utilisateur.email }}</td>
            </tr>
            <tr>
                <th>Ecole</th>
                <td>{{ etudiant.ecole.nom }}</td>
            </tr>
            <tr>
                <th>Section</th>
                <td>{{ etudiant.section.nom }}</td>
            </tr>
            <tr>
                <th>Inscriptions</th>
                <td>
                    <ul>
                        {% for inscription in etudiant.inscriptions %}
                            <li>
                                <a href="{{ path('app_inscription_show', {'id': inscription.id}) }}">{{ inscription.id }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_etudiant_index') }}">back to list</a>

    <a href="{{ path('app_etudiant_edit', {'id': etudiant.id}) }}">edit</a>

    {{ include('etudiant/_delete_form.html.twig') }}
{% endblock %}
